/* body{
  background-color: rgb(79, 79, 79);
} */
  

  .spinner {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    margin: 50px;
    
    margin-left:50%;
    
  }
  /* Dot spinner */
  .spinner.dot {
    border: 1px solid #e5e5e5;
    border-radius: 50px;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    -ms-animation: spin 1s linear infinite;
    -o-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }
  .spinner.dot:after {
    position: absolute;
    content: " ";
    top: 5px;
    left: 5px;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: #4c4c4c;
    z-index: 9;
  }
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }